.card-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-content-flex-box {
    display: flex;
    justify-content: space-between;
}

.card-thumbnail {
    width: 100%;
    height: 244;
    object-fit: cover;
}

.price-text {
    margin-top: 3%;
    font-size: 1.1rem;
}

.itemcard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

